* {
    margin:0;
    padding:0;
    font-family : Helvetica;
    font-weight : bolder;
    font-size : 70px;
  }
  header {
    background: linear-gradient(135deg, #ffa000 20%, #ff5000 80%);
    padding: 70px;
    height: 100vh;
    
  }
  .hello {
    position : relative;
    color: #000000;
    animation : hello 5s 1s  linear infinite alternate, cominghello 1s;
    
  }
  .htmlcss {
    position : relative;
    color : #000000;
    left: 600px;
    animation : htmlcss 5s 1s linear infinite alternate, cominghtmlcss 1s;
  }

  /*Anim declarations*/
  @keyframes cominghello {
    0% {
        top: -100px; 
        left : -50px; 
        opacity : 0 
    }
    100% { 
        top: 0px;
        left : -50px; 
        opacity: 1
    }
  }

  @keyframes hello {
    from { 
        left:-50px; 
        color: #000000; 
    }
    to { 
        left: 900px; 
        color : whitesmoke; 
    }
  }

  @keyframes cominghtmlcss {
    from {
        left:550px; 
        top: 100px; 
        }
    to { 
        left: 550px; 
        top: 0; }
  }
  @keyframes htmlcss {
    from { 
        left:550px; 
        color: #000000; 
    }
    to { 
        left: -100px; 
        color : whitesmoke; 
    }
  }
  
  a{
    text-decoration: none;
    position: absolute;
    bottom: 10%;
    color: whitesmoke;
    cursor: pointer;
    transition: all 0.3s ease-in;
  }
  a:hover, a:focus{
    bottom: 13%;
    color:#000000;
  }